@import url('submit.css');
*{
    margin: 0px;
    padding: 0px;
}
.header{
    height: 50px;
    width: 100%;
    background-color: #0b2748;
    color: white;
    position: fixed;
    z-index: 100;
}
.flex{
    display: flex;
    justify-content: space-between;
}
 .signIn button{
    margin: 6px 30px;
}
.logo{
    padding: 10px;
    background-color: #82aae3;
    margin: 3px 10px;
    border-radius: 1px;
}
button{
    background-color: #1b130c;
    color: #e5e5cb;
    border: none;
    padding: 10px;
    border-radius: 2px;
    font-weight: 700px;
}
button:hover{
    color: #1b130c;
    background-color: #e5e5cb;
    transition: .5s;
    cursor: pointer;
}
.signIn{
    max-width: 500px;
}
.beauty{
    padding-top: 35px;
}
.pic-section{
    height: 260px;
    width: 100%;
    background-size: cover;
    backdrop-filter: blur(100px);
    background-repeat: no-repeat;
    background-image: url('../images/books1.jpg');
}
.pic-section p{
    color: #e5e5cb;
    font-size: 80px;
    text-align: center;
    margin-right: 0px;
    padding: 30px;
}
.template-main-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.nav-div-container{

}
.nav-div{
    background-color: #154373;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 50px;
}
.nav-div a{
    text-decoration: none;
    color: #e5e5cb;
    border-bottom: 1px solid #82aae3;
    padding: 20px;
    text-align: center;
}
.nav-div a:hover{
    transition: 0.5s;
    background-color: #2d75b3;
}
.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.home-container{
    margin: 20px;
}
.small-div{
    margin: 10px;
    background-color: #ece8dd;
    padding: 10px;
    border-radius: 10px;
}
.small-div .title{
    color: #336;
    text-align: center;
    font-size: 15px;
    text-transform: capitalize;
}

.small-div .content{
    color:#826b6b;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    padding: 5px;
}
.center{
    width: fit-content;
    margin: auto;
}
.smaller-div{
    margin: 30px;
    padding: 10px;
    background-color: #0b2748;
    border-radius: 5px;
    color: white;
    font-size: smaller;
}
.smaller-div h3{
    background-color: #ece8dd;
    padding: 10px;
    border-radius: 5px;
    color: grey;
    border: 3px solid white;
    width: 90px;
    text-align: center;
    margin: 10px auto;
}
div.docsSection>div{
    margin: 10px;
}
div.Specialiter input,div.Theme-Projet input{
    width: 100%;
}
